{% extends 'index.html' %}
{% load static %}

{% block content %}
			<header class="page-header ltx-parallax">
				<div class="container">
					<h1>Contact Us</h1>
					<ul class="breadcrumbs" typeof="BreadcrumbList" vocab="https://schema.org/">
						<li class="home"><span property="itemListElement" typeof="ListItem"><a property="item"
									typeof="WebPage" title="Go to Home." href="index.html" class="home"><span
										property="name">Home</span></a>
								<meta property="position" content="1">
							</span></li>
						<li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span
									property="name">Contact Us</span>
								<meta property="position" content="2">
							</span></li>
					</ul>
				</div>
			</header>
		<div class="container main-wrapper">
			<div class="inner-page text-page margin-top">
				<div class="row centered">
					<div class="col-xl-12 col-xs-12 text-page">
						<article id="post-25" class="post-25 page type-page status-publish hentry">
							<div class="entry-content clearfix" id="entry-div">
								<section data-vc-full-width="true" data-vc-full-width-init="false" class="vc_section">
									<div class="vc_row wpb_row vc_row-fluid vc_row-o-content-top vc_row-flex">
										<div
											class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-6 text-align-center-sm-ms">
											<div class="vc_column-inner">
												<div class="wpb_wrapper">
													<div class="ltx-content-width col-align-left"
														id="like_sc_content_width_111158994" style="max-width: 370px">
														<div class="ltx-wrapper">
															<div class="heading  header-subheader align-left color-black transform-default theme-icon-second icon-type-hidden   vc_custom_1551389237763 heading-tag-h3"
																id="like_sc_header_1519363661">
																<h3
																	class="header ltx-sr-id-like_sc_header_15193636611896099288 ltx-sr ltx-sr-effect-fade_in ltx-sr-el-block ltx-sr-delay-0 ltx-sr-duration-1000 ltx-sr-sequences-0">
																	Central Office</h3>
															</div>
															<div class="wpb_text_column wpb_content_element ">
																<div class="wpb_wrapper">
																	<p>Nam eu mi eget velit vulputate tempor gravida
																		quis massa. In malesuada condimentum ultrices.
																		Sed et mauris a purus fermentum elementum.</p>
																</div>
															</div>
															<div class="align-default ">
																<ul class="social-icons-list   vc_custom_1551378814930 bg-main  icon-weight-bold"
																	id="like_sc_header_579912959">
																	<li class=" "><span class="fa fa-phone"></span><span
																			class="head">0(800) 890-90-609</span></li>
																	<li class=" "><a
																			href="index.html%3Fp=25.html#"><span
																				class="fa fa-envelope"></span><span
																				class="head">info@like-themes.com</span></a>
																	</li>
																	<li class=" "><span
																			class="fa fa-map-marker"></span><span
																			class="head">29 Nicolas str, New York,
																			987597-50</span></li>
																</ul>
															</div>
															<div class="align-default ">
																<ul class="social-big icon-weight-bold"
																	id="like_sc_header_698753954">
																	<li><a href="index.html%3Fp=25.html#"
																			class="ltx-social-color fa fa-facebook"></a>
																	</li>
																	<li><a href="index.html%3Fp=25.html#"
																			class="ltx-social-color fa fa-twitter"></a>
																	</li>
																	<li><a href="index.html%3Fp=25.html#"
																			class="ltx-social-color fa fa-youtube"></a>
																	</li>
																	<li><a href="index.html%3Fp=25.html#"
																			class="ltx-social-color fa fa-instagram"></a>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div
											class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-6 text-align-center-sm-ms">
											<div class="vc_column-inner">
												<div class="wpb_wrapper">
													<div class="es-resp">
														<div class="visible-xl" style="height: 0px;"></div>
														<div class="hidden-xl hidden-md hidden-sm hidden-ms hidden-xs"
															style="height: 0px;"></div>
														<div class="visible-md" style="height: 0px;"></div>
														<div class="visible-sm " style="height: 48px;"></div>
														<div class="visible-ms" style="height: 48px;"></div>
														<div class="visible-xs" style="height: 48px;"></div>
													</div>
													<div class="heading  header-subheader align-left color-black subcolor-main transform-default theme-icon-second icon-type-hidden   vc_custom_1551389242289 heading-tag-h3"
														id="like_sc_header_2091869009">
														<h3
															class="header ltx-sr-id-like_sc_header_2091869009550474737 ltx-sr ltx-sr-effect-fade_in ltx-sr-el-block ltx-sr-delay-0 ltx-sr-duration-1000 ltx-sr-sequences-0">
															Opening Hours</h3>
													</div>
													<div class="wpb_text_column wpb_content_element ">
														<div class="wpb_wrapper">
															<ul class="ltx-hours">
																<li><strong>Monday:</strong> <strong>9:00 &#8211;
																		19:00</strong></li>
																<li><strong>Tuesday:</strong> <strong>9:00 &#8211;
																		19:00</strong></li>
																<li><strong>Wednesday:</strong> <strong>9:00 &#8211;
																		19:00</strong></li>
																<li><strong>Thursday:</strong> <strong>9:00 &#8211;
																		19:00</strong></li>
																<li><strong>Friday:</strong> <strong>9:00 &#8211;
																		19:00</strong></li>
																<li><strong>Saturday:</strong> <strong>11:00 &#8211;
																		16:00</strong></li>
																<li><strong>Sunday:</strong> <strong>CLOSED</strong>
																</li>
															</ul>
														</div>
													</div>
													<div class="es-resp">
														<div class="hidden-xl hidden-md hidden-sm hidden-ms hidden-xs"
															style="height: 28px;"></div>
														<div class="visible-md" style="height: 28px;"></div>
														<div class="visible-sm " style="height: 28px;"></div>
														<div class="visible-ms" style="height: 28px;"></div>
														<div class="visible-xs" style="height: 28px;"></div>
													</div>
												</div>
											</div>
										</div>
										<div
											class="wpb_column vc_column_container vc_col-sm-1 vc_col-lg-1 vc_col-md-12 vc_hidden-md vc_hidden-sm vc_hidden-xs">
											<div class="vc_column-inner">
												<div class="wpb_wrapper"></div>
											</div>
										</div>
										<div
											class="wpb_column vc_column_container vc_col-sm-4 vc_col-lg-4 vc_col-md-6 vc_hidden-md vc_hidden-sm vc_hidden-xs vc_col-has-fill">
											<div class="vc_column-inner vc_custom_1549398563071">
												<div class="wpb_wrapper">
													<div
														class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1551389582349">
														<figure class="wpb_wrapper vc_figure">
															<div
																class="vc_single_image-wrapper vc_box_rounded  vc_box_border_grey">
																<img width="800" height="672"
																	src="{% static 'wp-content/uploads/2019/02/opening_hours-2.jpg' %}"
																	class="vc_single_image-img attachment-full" alt=""
																	srcset="{% static 'wp-content/uploads/2019/02/opening_hours-2.jpg' %} 800w, {% static 'wp-content/uploads/2019/02/opening_hours-2-300x252.jpg' %} 300w, {% static 'wp-content/uploads/2019/02/opening_hours-2-768x645.jpg' %} 768w, {% static 'wp-content/uploads/2019/02/opening_hours-2-600x504.jpg' %} 600w"
																	sizes="(max-width: 800px) 100vw, 800px" /></div>
														</figure>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="vc_row wpb_row vc_row-fluid">
										<div class="wpb_column vc_column_container vc_col-sm-12">
											<div class="vc_column-inner">
												<div class="wpb_wrapper">
													<div class="es-resp">
														<div class="visible-xl" style="height: 80px;"></div>
														<div class="hidden-xl hidden-md hidden-sm hidden-ms hidden-xs"
															style="height: 80px;"></div>
														<div class="visible-md" style="height: 80px;"></div>
														<div class="visible-sm " style="height: 80px;"></div>
														<div class="visible-ms" style="height: 80px;"></div>
														<div class="visible-xs" style="height: 80px;"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div data-vc-full-width="true" data-vc-full-width-init="false"
										class="vc_row wpb_row vc_row-fluid bg-color-gray">
										<div class="wpb_column vc_column_container vc_col-sm-12">
											<div class="vc_column-inner">
												<div class="wpb_wrapper">
													<div class="ltx-content-width col-align-center"
														id="like_sc_content_width_1242045382" style="max-width: 1050px">
														<div class="ltx-wrapper">
															<div class="es-resp">
																<div class="visible-xl" style="height: 48px;"></div>
																<div class="hidden-xl hidden-md hidden-sm hidden-ms hidden-xs"
																	style="height: 48px;"></div>
																<div class="visible-md" style="height: 48px;"></div>
																<div class="visible-sm " style="height: 48px;"></div>
																<div class="visible-ms" style="height: 48px;"></div>
																<div class="visible-xs" style="height: 48px;"></div>
															</div>
															<div class="heading  header-subheader align-center color-black subcolor-main transform-default theme-icon-second icon-type-default   vc_custom_1549397383733 heading-tag-h3"
																id="like_sc_header_899340048">
																<h3
																	class="header ltx-sr-id-like_sc_header_89934004877895776 ltx-sr ltx-sr-effect-fade_in ltx-sr-el-block ltx-sr-delay-0 ltx-sr-duration-1000 ltx-sr-sequences-0">
																	Send message</h3>
															</div>
															<div class="ltx-contact-form-7 transform-default form-center form-gray form-bg-gray form-style-default form-btn-default form-btn-default form-padding-none    vc_custom_1549397374732"
																id="like_sc_contact_form_7_1641720597">
																<div role="form" class="wpcf7" id="wpcf7-f1555-p25-o2"
																	lang="en-US" dir="ltr">
																	<div class="screen-reader-response"></div>
																	<form
																		action="index.html%3Fp=25.html#wpcf7-f1555-p25-o2"
																		method="post" class="wpcf7-form"
																		novalidate="novalidate">
																		<div style="display: none;"> <input
																				type="hidden" name="_wpcf7"
																				value="1555" /> <input type="hidden"
																				name="_wpcf7_version" value="5.1.1" />
																			<input type="hidden" name="_wpcf7_locale"
																				value="en_US" /> <input type="hidden"
																				name="_wpcf7_unit_tag"
																				value="wpcf7-f1555-p25-o2" /> <input
																				type="hidden"
																				name="_wpcf7_container_post"
																				value="25" /> <input type="hidden"
																				name="g-recaptcha-response" value="" />
																		</div>
																		<div class="row">
																			<div class="col-lg-6"> <span
																					class="wpcf7-form-control-wrap field-header"><input
																						type="text" name="field-header"
																						value="" size="40"
																						class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
																						aria-required="true"
																						aria-invalid="false"
																						placeholder="Your name" /></span>
																			</div>
																			<div class="col-lg-6"> <span
																					class="wpcf7-form-control-wrap field-header2"><input
																						type="text" name="field-header2"
																						value="" size="40"
																						class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
																						aria-required="true"
																						aria-invalid="false"
																						placeholder="Your email" /></span>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-12"> <span
																					class="wpcf7-form-control-wrap field-header-3"><textarea
																						name="field-header-3" cols="40"
																						rows="10"
																						class="wpcf7-form-control wpcf7-textarea"
																						aria-invalid="false"
																						placeholder="Message"></textarea></span>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-md-12"> <input type="submit"
																					value="Submit"
																					class="wpcf7-form-control wpcf7-submit" />
																			</div>
																		</div>
																		<div
																			class="wpcf7-response-output wpcf7-display-none">
																		</div>
																	</form>
																</div>
															</div>
															<div class="es-resp">
																<div class="visible-xl" style="height: 64px;"></div>
																<div class="hidden-xl hidden-md hidden-sm hidden-ms hidden-xs"
																	style="height: 64px;"></div>
																<div class="visible-md" style="height: 64px;"></div>
																<div class="visible-sm " style="height: 64px;"></div>
																<div class="visible-ms" style="height: 64px;"></div>
																<div class="visible-xs" style="height: 64px;"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="vc_row-full-width vc_clearfix"></div>
								</section>
								<div class="vc_row-full-width vc_clearfix"></div>
								<div data-vc-full-width="true" data-vc-full-width-init="false"
									data-vc-stretch-content="true"
									class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner">
											<div class="wpb_wrapper">
												<div id="like_sc_google_maps_814384830"
													data-marker="http://alavion.like-themes.com/wp-content/themes/alavion/assets/images/location.png"
													class="ltx-google-maps    vc_custom_1538491575778"
													data-style="yellow" data-lng="-74.1180862" data-lat="40.7058253"
													data-zoom="11" style="width: 100%; height: 450px;"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="vc_row-full-width vc_clearfix"></div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}