{% extends 'index.html' %}
{% block content %}

		<div
			class="header-wrapper  header-h1   header-parallax   hasBreadcrumbs  wrapper-navbar-layout-white ltx-pageheader-default">

			<header class="page-header ltx-parallax">
				<div class="container">
					<h1>My account</h1>
					<ul class="breadcrumbs" typeof="BreadcrumbList" vocab="https://schema.org/">
						<li class="home"><span property="itemListElement" typeof="ListItem"><a property="item"
									typeof="WebPage" title="Go to Home." href="../../index.html" class="home"><span
										property="name">Home</span></a>
								<meta property="position" content="1">
							</span></li>
						<li class="post post-page current-item"><span property="itemListElement" typeof="ListItem"><span
									property="name">My account</span>
								<meta property="position" content="2">
							</span></li>
					</ul>
				</div>
			</header>
		</div>

		<div class="container main-wrapper">
			<div class="inner-page text-page margin-default">
				<div class="row centered">
					<div class="col-xl-9 col-lg-8 col-md-12 col-xs-12 text-page">
						<article id="post-617" class="post-617 page type-page status-publish hentry">
							<div class="entry-content clearfix" id="entry-div">
								<div class="woocommerce">
									<div class="woocommerce-notices-wrapper"></div>
									<form method="post" class="woocommerce-ResetPassword lost_reset_password">
										<p>Lost your password? Please enter your username or email address. You will
											receive a link to create a new password via email.</p>
										<p
											class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
											<label for="user_login">Username or email</label> <input
												class="woocommerce-Input woocommerce-Input--text input-text" type="text"
												name="user_login" id="user_login" autocomplete="username" /></p>
										<div class="clear"></div>
										<p class="woocommerce-form-row form-row"> <input type="hidden"
												name="wc_reset_password" value="true" /> <button type="submit"
												class="woocommerce-Button button" value="Reset password">Reset
												password</button></p> <input type="hidden"
											id="woocommerce-lost-password-nonce" name="woocommerce-lost-password-nonce"
											value="2f502c976d" /><input type="hidden" name="_wp_http_referer"
											value="/my-account/lost-password/" />
									</form>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
